<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>

<script language="JavaScript" type="text/javascript" src="/js/jquery.min.js"></script>
<script src="<%=assetFingerprint('/javascripts/scripts.js')%>"></script>
<script language="JavaScript" type="text/javascript" src="/datePicker/datepicker.js"></script>

</body>
</html>